extend view.jade
include viewsingle

block append scripts
	script(src="../static/scripts/view.js")

block content
	h1.page-header.text-center Tout Vella
	.text-center
		button.btn.btn-primary.btn-lg#prev
			span.glyphicon.glyphicon-chevron-left
		button.btn.btn-primary.btn-lg#next
			span.glyphicon.glyphicon-chevron-right
		
	+viewsingle({text: text, url: url, date: date, sid: sid})
