extend base.jade
include viewsingle

block append scripts
	script(src="../static/scripts/view.js")

block content
	h1.page-header.text-center Ainsi parlait Vellathoustra
	.text-center
		button.btn.btn-primary.btn-lg#first
			span.glyphicon.glyphicon-backward
		button.btn.btn-primary.btn-lg#prev
			span.glyphicon.glyphicon-chevron-left
		button.btn.btn-primary.btn-lg#next
			span.glyphicon.glyphicon-chevron-right
		button.btn.btn-primary.btn-lg#last
			span.glyphicon.glyphicon-forward
		
	+viewsingle({text: text, url: url, date: date, sid: sid})
