extend base.jade

block content
	h1.page-header.text-center Very Enlightening Lyrical Logorrhea from an Absolutely Deranged Bozo
	p.lead 
		| VELLADB recense l'évangile de 
		a(href="/browse/87") Don Vella
		|, prophète et apôtre du 
		a(href="/browse/47") Vellisme.
	
	p Notre base de données compte actuellement 
		strong= count
		|  versets.
